:root {
    --blue: #00004C;
    --green: #669900;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
    display: flex;
    border: 2px solid white;
    
}
    

.one {
    font-size: 200%;
    color: white;
    background: var(--blue);
}

.two {
    background: var(--green);
}

.three {
    background: white ;
}

.four {
    background: white ;
}
